
/********************************************************************
*                               GLOBAL                              *
********************************************************************/

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --light-gray-color: #e7e4e4;
    --dark-color: #343a40;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}


/********************************************************************
*                               HEADER                              *
********************************************************************/

header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    margin-bottom: 50px;
}

header h1 {
    text-align: center;
}


/********************************************************************
*                                MAIN                               *
********************************************************************/

main {
    margin: 0px 30px 100px 30px;
}


/*********
* Button *
*********/

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}


/********
* Input *
********/

input {
    background-color: var(--light-gray-color);
    border: none;
    padding: 6px;
    border-radius: 5px;
}

input:active, input:focus {
    outline: none;
}


/*************
* Test block *
*************/

.test-link {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    
    transition: all 0.2s;
    cursor: pointer;
}

.test-link {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.test-link:hover {
    padding-right: 24px;
    padding-left:8px;
}

.test-link:hover:after {
    opacity: 1;
    right: 10px;
}

.test-link:active {
    color: var(--secondary-color);
}


/***************
* Table output *
***************/

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid var(--light-gray-color);
    padding: 8px;
}

table th {
    background-color: var(--light-gray-color);
}

table tr:nth-child(even) {
    background-color: var(--light-gray-color);
}

table tr:hover {
    background-color: #d3d3d3;
}


/***********
* Controls *
***********/

#controls * {
    margin: 20px 0;
}


/********************************************************************
*                               FOOTER                              *
********************************************************************/

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-color);
    color: white;
    padding: 10px 0;

    position: fixed;
    bottom: 0;
    width: 100%;
}

footer * {
    margin: 0 15px;
}
