/* Styles for the Pokemon card */
table td{
    text-align: center; /* Center the data in the table cells */
}
.pokemon-card {
    width: 20%;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

/* Styles for the Pokemon name */
.pokemon-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

/* Styles for the Pokemon image */
.pokemon-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Styles for the Pokemon details */
.pokemon-details {
    font-size: 14px;
}

/* Styles for the Pokemon type */
.pokemon-type {
    margin-bottom: 5px;
}

/* Styles for the Pokemon abilities */
.pokemon-abilities {
    margin-bottom: 5px;
}

/* Styles for the Pokemon stats */
.pokemon-stats {
    margin-bottom: 5px;
}
